<a href="https://colab.research.google.com/github/Shubh-Bindal/OOP-Lab-Work/blob/master/Class_Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Program 1
a=" iiit dwd "
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace(" ", ""))
print(a.split())

 IIIT DWD
 iiit dwd
iiit dwd
iiitdwd
['iiit', 'dwd']

In [3]:
#Program 2
a=int(input("enter the integer\n"))
if(a>0):
    print("integer is positive\n")
elif a<0:
    print("integer is negative\n")
else:
    print("integer is 0\n")

enter the integer
25
integer is positive

In [4]:
#Program 3
age=int(input("Enter you age\n"))
if age>=35:
    print("You are eligible\n")
else:
    print("you are not eligible\n")

Enter you age
65
You are eligible

In [5]:
#Program 4
list1=["Monday","Tuesday","wednesday","thursday","friday","Saturday","Sunday"]
print(list1[0],list1[1],list1[-2],list1[-1])
list1.append("extra day")
print(list1)
print(list1.insert(-1,"orange"))
list1.remove("extra day")
print(list1)
print(list1.pop(-1))
print(list1)
newlist=list()
for x in list1:
    if x[0]=="S":
        newlist.append(x)
print(newlist)

Monday Tuesday Saturday Sunday
['Monday', 'Tuesday', 'wednesday', 'thursday', 'friday', 'Saturday', 'Sunday', 'extra day']
None
['Monday', 'Tuesday', 'wednesday', 'thursday', 'friday', 'Saturday', 'Sunday', 'orange']
orange
['Monday', 'Tuesday', 'wednesday', 'thursday', 'friday', 'Saturday', 'Sunday']
['Saturday', 'Sunday']

In [12]:
#Program 5
list2=[1,3,6,2,4,5]
list2.sort()
print(list2)
list2.sort(reverse=True)
print(list2)
print(max(list2))
print(min(list2))

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
6
1

In [14]:
#Program 6
dic1={"Brand":"apple","model":"pro","year":"1967"}
print(dic1.items())
print(dic1.keys())
print(dic1.values())
dic1["year"]="2002"
print(dic1.items(   ))
print(dic1.popitem())
print(dic1)
print(dic1.pop("Brand"))
print(dic1)

dict_items([('Brand', 'apple'), ('model', 'pro'), ('year', '1967')])
dict_keys(['Brand', 'model', 'year'])
dict_values(['apple', 'pro', '1967'])
dict_items([('Brand', 'apple'), ('model', 'pro'), ('year', '2002')])
('year', '2002')
{'Brand': 'apple', 'model': 'pro'}
apple
{'model': 'pro'}